{
   "singleQuote": true,
   "printWidth": 155,
   "proseWrap": "always",
   "tabWidth": 3,
   "useTabs": false,
   "trailingComma": "none",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "semi": true
}
